apiVersion: v1
kind: Service
metadata:
  labels:
    app: aws-cicd
  name: aws-cicd-service
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 8000
  selector:
    app: aws-cicd
  type: LoadBalancer
status:
  loadBalancer: {}
